<section id="contingut">	
    <div id="titulillo"><h2>Colores predefinidos</h2></div>
    
    
    En HTML5 existen colores predefinidos que tienen nombres mucho más fáciles de recordar que sus respectivos códigos hexadecimales. Es mucho más fácil acordarse de nombres de colores como '<b>Tomato</b>', '<b>Gold</b>', '<b>Olive</b>', '<b>Chocolate</b>', '<b>Silver</b>', '<b>Magenta</b>' o '<b>Salmon</b>' que de sus respectivos códigos de color en hexadecimal: '<b>#FF6347</b>', '<b>#FFD700</b>', '<b>#808000</b>', '<b>#D2691E</b>', '<b>#C0C0C0</b>', '<b>#FF00FF</b>' o '<b>#FA8072</b>'.<br><br>
    Así, como ambas líneas tienen exactamente el mismo resultado...en tu mano queda utilizar una u otra forma...<br>
    <div class="codigo">
    <pre>color=tomato;
    color=#FF6347:
    </pre>
    </div>
    A continuación presentamos una recopilación de los mejores colores (a gusto personal, claro) de cada tonalidad (aunque hay muchos más)...<br><br>
    <span style="font-size:13px">(Haz clic en cada uno de estos tonos para abrir/cerrar la información)</span>
    
    <div id="colores">
        <div id="color1">
        Rojos:<br><br>
            <div id="c1">
                IndianRed
            </div>
            <div id="c2">
                DarkSalmon
            </div>
            <div id="c3">
                Crimson
            </div>
            <div id="c4">
                FireBrick
            </div>
            <div id="c5">
                DarkRed
            </div>
            <div id="c6">
                Maroon
            </div>
            <div id="c7">
                Brown
            </div>
        </div>
    
        
        <div id="color2">Amarillos-Naranja:<br><br>
            <div id="d1">
                Coral
            </div>
            <div id="d2">
                OrangeRed
            </div>
            <div id="d3">
                DarkOrange
            </div>
            <div id="d4">
                Khaki
            </div>
            <div id="d5">
                Gold
            </div>
            <div id="d6">
                GoldenRed
            </div>
            <div id="d7">
                Moccasin
            </div>
        </div>
        <div id="color3">Verdes:<br><br>
            <div id="e1">
                Lime
            </div>
            <div id="e2">
                Olive
            </div>
            <div id="e3">
                OliveDrab
            </div>
            <div id="e4">
                ForestGreen
            </div>
            <div id="e5">
                DarkGreen
            </div>
            <div id="e6">
                YewollGreen
            </div>
            <div id="e7">
                SeaGreen
            </div>	
        </div>
        <div id="color4">Rosa-Púrpura:<br><br>
            <div id="f1">
                LightPink
            </div>
            <div id="f2">
                HotPink
            </div>
            <div id="f3">
                Violet
            </div>
            <div id="f4">
                Fuchsia
            </div>
            <div id="f5">
                Amethyst
            </div>
            <div id="f6">
                Purple
            </div>
            <div id="f7">
                Indigo
            </div>	
        </div>
        <div id="color5">Azules:<br><br>
            <div id="g1">
                Aqua
            </div>
            <div id="g2">
                LightCyan
            </div>
            <div id="g3">
                SteelBlue
            </div>
            <div id="g4">
                Navy
            </div>
            <div id="g5">
                RoyalBlue
            </div>
            <div id="g6">
                SkyBlue
            </div>
            <div id="g7">
                DarkSlateGray
            </div>
        </div>
        <div id="color6">Marrones:<br><br>
            <div id="h1">
                CornSilk
            </div>
            <div id="h2">
                NavajoWhite
            </div>
            <div id="h3">
                BurlyWood
            </div>
            <div id="h4">
                RosyBrown
            </div>
            <div id="h5">
                Peru
            </div>
            <div id="h6">
                Chocolate
            </div>
            <div id="h7">
                Sienna
            </div>	
        </div>
    </div>
    
        <span style="font-size:13px">Cambiar el color del fondo por: </span><input type="button" value="blanco" id="blanco">
        <input type="button" value="negro" id="negrol">
    <br><br>
    Si quieres conocer la lista de nombres de colores completa accede a <a href="http://html-color-codes.info/color-names/" target="_blank">HTML Color Code</a> o a un muy útil <a href="http://html-color-codes.info/#HTML_Color_Picker" target="_blank">paleta interactiva de colores</a>.<br>
    
    
        <br>
     
    
    
    
    
    <p id="punto2"></p>
    <div id="titulillo"><h2>Transparencias</h2></div>
    
    
    En CSS3, se pueden definir transparencias, ya sea en el color de fondo de un &lt;div&gt; en concreto como en algunos elementos individuales.<br><br>
    Así, para definir un color de fondo con un índice de transparencia determinado utilizamos '<b>rgba</b> (rojo, verde, azul, transparencia)':<br>
    <div class="codigo">
    <pre>background-color:rgba(255,0,0,<span style="color:red"> 0.4</span>);
    </pre>
    </div>
    <div id="cuadrao1"></div><div id="cuadrao2"></div><br>
    El primer cuadro representa un color rojo con una opacidad del 40% (<b>0.4</b>), mientras que el segundo cuadro se ha añadido para poder ver la diferencia con el color rojo sin transparencia.<br><br>
    En este ejemplo se han utilizado los valores RGB del color rojo (255 para el rojo (el máximo valor), 0 (el mínimo valor) tanto para el verde, como para el azul), con un 0.4 (40%) de opacidad (o 60% de transparencia, según como se vea).<br><br>
    
    Si deseas ver una tabla de relación entre los códigos de color en hexadecimal y los RGB accede a <b><a href="http://farystydesign.blogspot.com.es/2012/01/css-el-color-en-css-y-sus-valores.html" target="_blank">FarystyDesign</a></b>.<br><br>
    
    Otra posibilidad que existe (para algunos objetos, como es el caso de las imágenes SVG entre otros) es utilizar el atributo '<b>opacity</b>, indicando los mismos valores (de 0: totalmente transparente a 1: totalmente opaco).<br>
    <div class="codigo">
    <pre>opacity:<span style="color:red"> 0.4</span>;
    </pre>
    </div><br>
    
    
        <br>
     
    
    
    <p id="punto3"></p>
    <div id="titulillo"><h2>Degradados</h2></div>
    
    
    
    Los degradados a través de código CSS3 han sido una de las que más vueltas han dado hasta estabilizarse y generalizarse de la misma forma en (casi) todos los navegadores.<p>
    Vamos a dejar en el bául del ólvido el infernal código de degradado que utilizaban las versiones de Chrome anteriores a la 10 y de Safari anteriores a la 5 y nos vamos a concentar en el código genérico que funciona en:
    </p><ul>
        <li>Firefox 3.6+</li>
        <li>Chrome +10</li>
        <li>Safari +5.1</li>
        <li>Opera 11.10+ (Sólo degradados lineales)</li>
        <li>(e increiblemente en) Internet Explorer 10+</li>
    </ul>
    <span id="deglin"></span>
    <div id="titulo_peque">Degradados lineales</div>
    Primero definimos <span class="rojo"><b>dónde empieza</b></span> el degradado (<span class="rojo"><b>top</b></span>, <span class="rojo"><b>bottom</b></span>, <span class="rojo"><b>right</b></span>, <span class="rojo"><b>left</b></span>) o bien indicando un ángulo (<span class="rojo"><b>45deg</b></span>), seguido de los <span class="rojo"><b>colores</b></span> que compondrán el degradado y de manera <span class="verde"><b>opcional</b></span> se puede indicar cuánto durará cada color (en <span class="verde"><b>porcentaje</b></span>).<br>
    <div class="codigo">
    <pre>background:linear-gradient(<span class="rojo"><b>dónde empieza</b></span>, <span class="rojo"><b>color1</b></span>, <span class="verde"><b>40%</b></span>, <span class="rojo"><b>color2</b></span>, <span class="verde"><b>60%</b></span>);
    </pre>
    </div>
    <br>
    <br>
    <span style="color:#1162ac;font-size:17px">Algunos ejemplos:</span><br>
    
    <div class="codigo">
    <pre>background:linear-gradient(top, red, gold);
    </pre>
    </div>
    <div id="degradado1" class="degradado"></div>
    <div class="explicacion">Degradado lineal (<b>linear-gradient</b>) que empieza en la parte superior del &lt;div&gt; (<b>top</b>) y que va desde el color <span style="color:red"><b>red</b></span> hasta el color <span style="color:gold;background-color:black;padding:0 5px"><b>gold</b></span>.</div>
    
    
    
    <div class="codigo">
    <pre>background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    </pre>
    </div>
    <div id="degradado2" class="degradado"></div>
    <div class="explicacion">
    Degradado lineal (<b>linear-gradient</b>) que se inicia en la esquina superior izquierda con una inclinación de 30 grados (<b>30deg</b>) y que en toda su extensión pasa por los colores <span style="color:crimson"><b>crimson</b></span>, <span style="color:sienna"><b>sienna</b></span>, <span style="color:royalblue"><b>royalblue</b></span>, <span style="color:indianred"><b>indianred</b></span> y <span style="color:purple"><b>purple</b></span>.
    </div>
    
    
    
    
    
    <div class="codigo">
    <pre>background:linear-gradient(top, black 10%, orangered 75%, yellow);
    </pre>
    </div>
    <div id="degradado3" class="degradado"></div>
    <div class="explicacion">
        Degradado lineal (<b>linear-gradient</b>) que empieza en la parte superior del &lt;div&gt; (<b>top</b>) y que define 3 colores indicando sus dimensiones. Así, mientras el <b>negro</b> ocupa el 10% del espacio, el <span style="color:orangered"><b>orangered</b></span> ocupa el 65% (del 10 al 75%), quedando el 25% restante para el <span style="color:yellow;background:black;padding:0 5px"><b>yellow</b></span>).
    </div>
    
    
    
    <span id="degrad"></span>
    <div id="titulo_peque"><h2>Degradados radiales</h2></div>
    
    
    Aunque Opera todavía no admite degradados radiales, la estructura y sintaxis es muy parecida a los degradados lineales aunque utilizando <b>radial-gradient</b>.<p>
    
    
    Primero definimos <span class="rojo"><b>dónde está el centro</b></span> del degradado a través de una posición horizontal y luego una vertical (utilizando <span class="rojo"><b>center</b></span>, <span class="rojo"><b>top</b></span>, <span class="rojo"><b>bottom</b></span>, <span class="rojo"><b>right</b></span>, <span class="rojo"><b>left</b></span> o unas coordenadas en píxeles <span class="rojo"><b>125px 200px</b></span>). Seguidamente se define la forma (<span class="rojo"><b>circle</b></span> o <span class="rojo"><b>ellipse</b></span>). Después <span class="verde"><b>opcionalmente</b></span> se puede definir cómo se <span class="verde"><b>expandirá el degradado</b></span>. Por último se definen los <span class="rojo"><b>colores</b></span> que compondrán el degradado y de manera <span class="verde"><b>opcional</b></span> se puede indicar cuánto durará cada color (en <span class="verde"><b>porcentaje</b></span>).<br>
    
    </p><div id="codigo_largo">
    <pre>background:radial-gradient(<span class="rojo"><b>dónde está el centro</b></span>, <span class="rojo"><b>circle/ellipse</b></span> <span class="verde"><b>expansión del degradado</b></span>, <span class="rojo"><b>color1</b></span>, <span class="verde"><b>40%</b></span>, <span class="rojo"><b>color2</b></span>, <span class="verde"><b>60%</b></span>);
    </pre>
    </div>
    
    <br>
    
    
    
    <div>
    Los diferentes valores referentes a la <span class="verde"><b>expansión del degradado</b></span> son:<br><br><br>
    </div>
    
    <div class="d_r">
        <span style="color:#027702;font-size:19px">closest-side:</span><p>
        El degradado se expande hasta que su forma exterior se encuentra con el <b>lado</b> de la caja que está más <b>cerca</b> del centro del degradado.</p><p>
        En este ejemplo vemos como su forma exterior (círculo amarillo) crece desde su centro hasta el lado de la caja que está más cercano al centro del degradado, que es el <span class="rojo"><b>lado de arriba</b></span>).
    </p></div>
    <div id="degradado_reparto1" class="degradado_repartos"></div>
    
    <div class="d_r">
        <span style="color:#027702;font-size:19px">farthest-side:</span><p>
        El degradado se expande hasta que su forma exterior se encuentra con el <b>lado</b> de la caja que está más <b>lejos</b> del centro del degradado.</p><p>
        En este ejemplo vemos como su forma exterior (círculo amarillo) crece desde su centro hasta que se encuentra con el lado más alejado del centro del degradado, que en este caso es el <span class="rojo"><b>lado derecho</b></span>.
    
    </p></div>
    <div id="degradado_reparto2" class="degradado_repartos"></div>
    
    <div class="d_r">
    <span style="color:#027702;font-size:19px">closest-corner:</span><p>
    El degradado se expande hasta que su forma exterior se encuentra con la <b>esquina</b> de la caja que se encuentra más <b>cerca</b> al centro del degradado.</p><p>
    En este ejemplo vemos como la forma exterior (círculo amarillo) crece desde el centro hasta encontrarse con la esquina más cercana al centro del degradado, que en este caso es la <span class="rojo"><b>esquina superior izquierda</b></span> de la caja.
    </p></div>
    <div id="degradado_reparto3" class="degradado_repartos"></div>
    
    <div class="d_r">
    <span style="color:#027702;font-size:19px">farthest-corner:</span><p>
    El degradado se extiende hasta que su forma exterior se encuentra con  la <b>esquina</b> de la caja que se encuentra más <b>lejos</b> del centro del degradado.</p><p>
    En este ejemplo podemos ver como su forma exterior (el círculo amarillo) crece desde el centro del degradado hasta encontrarse con la esquina más alejada de su centro, que en este caso es la <span class="rojo"><b>esquina inferior derecha</b></span> de la caja.
    </p></div>
    <div id="degradado_reparto4" class="degradado_repartos"></div>
    
    <div id="vacio"></div>
    
    
    
    
    
    <span style="clear:both;color:#1162ac;font-size:17px">Algunos ejemplos:</span><br>
    
    
    <div class="codigo">
    <pre>background:radial-gradient(center center, circle, black, #1162ac);
    </pre>
    </div>
    <div id="degradado4" class="degradado"></div>
    <div class="explicacion">
    Degradado radial (<b>radial-gradient</b>) que empieza en el centro del &lt;div&gt; (<b>center center</b>), que tiene una forma de círculo (<b>circle</b>) y que va del color <b>negro</b> hasta un color <span style="color:#1162ac"><b>azul</b></span> con código hexadecimal #1162ac.
    </div>
    
    
    <div class="codigo">
    <pre>background:radial-gradient(200px top, ellipse, white, #1162ac, black);
    </pre>
    </div>
    <div id="degradado5" class="degradado"></div>
    <div class="explicacion">
    Degradado radial (<b>radial-gradient</b>) que empieza horizontalmente a <b>200px</b> de la esquina superior izquierda y verticalmente en la parte superior (<b>top</b>) y que con forma elíptica (<b>ellipse</b>) va del color <span style="color:white;background:black;padding:0 5px"><b>white</b></span> hasta el <b>black</b>, pasando -por partes iguales- por el <span style="color:#1162ac"><b>azul</b></span> con código de color #1162ac.
    </div>
    
    
    <div class="codigo">
    <pre>background:radial-gradient(center center, ellipse, white 25%, peru 66%, black 96%);
    </pre>
    </div>
    <div id="degradado6" class="degradado"></div>
    <div class="explicacion">
    Degradado radial (<b>radial-gradient</b>) que empieza en el centro (<b>center center</b>)  y que define las dimensiones <b>elípticas</b> de los colores que se van a utilizar. <span style="color:white;background:black;padding:0 5px"><b>White</b></span> en un 25%, <span style="color:peru"><b>peru</b></span> en un 41% (del 25 al 66%) y <b>black</b> en un 30% (del 66 al 96%), ocupando también el 4% restante al no indicarse más colores.
    </div>
    <div id="vacio"></div>
    
    
        <br>
     
    
    
    <p id="punto4"></p>
    <div id="titulillo"><h2>Compatibilidad con navegadores</h2></div>
    
    
    Para que los degradados funcionen en la mayoría de navegadores modernos es necesario añadir el código CSS con los diferentes prefijos de navegador, sin olvidar el código genérico (sin prefijos) para que también funcione cuando los prefijos no sean necesarios.<p>
    </p><div class="codigo">
    <pre>background:linear-gradient(top, red, gold);
    background:<span class="rojo"><b>-webkit-</b></span>linear-gradient(top, red, gold);
    background:<span class="rojo"><b>-moz-</b></span>linear-gradient(top, red, gold);
    background:<span class="rojo"><b>-o-</b></span>linear-gradient(top, red, gold);
    background:<span class="rojo"><b>-ms-</b></span>linear-gradient(top, red, gold);
    </pre>
    </div>
    </section>